In [1]:
import numpy as np
import pandas as pd
import math as m
x_train=pd.read_csv('training_titanic_x_y_train.csv')
print(x_train.head())
x_test=pd.read_csv('test_titanic_x_test.csv')

   Pclass                                            Name     Sex   Age  \
0       2   Weisz, Mrs. Leopold (Mathilde Francoise Pede)  female  29.0
1       3               Williams, Mr. Howard Hugh "Harry"    male   NaN
2       2  Morley, Mr. Henry Samuel ("Mr Henry Marshall")    male  39.0
3       3     Palsson, Mrs. Nils (Alma Cornelia Berglund)  female  29.0
4       3                          Sutehall, Mr. Henry Jr    male  25.0

   SibSp  Parch           Ticket    Fare Cabin Embarked  Survived
0      1      0           228414  26.000   NaN        S         1
1      0      0         A/5 2466   8.050   NaN        S         0
2      0      0           250655  26.000   NaN        S         0
3      0      4           349909  21.075   NaN        S         0
4      0      0  SOTON/OQ 392076   7.050   NaN        S         0

In [2]:
x_train.drop('Name',axis=1,inplace=True)
x_train.drop('Ticket',axis=1,inplace=True)
# x_train.drop('Cabin',axis=1,inplace=True)

x_test.drop('Name',axis=1,inplace=True)
x_test.drop('Ticket',axis=1,inplace=True)
# x_test.drop('Cabin',axis=1,inplace=True)

print(x_train.head())
x_train.isnull().sum()
print(x_test.head())

   Pclass     Sex   Age  SibSp  Parch    Fare Cabin Embarked  Survived
0       2  female  29.0      1      0  26.000   NaN        S         1
1       3    male   NaN      0      0   8.050   NaN        S         0
2       2    male  39.0      0      0  26.000   NaN        S         0
3       3  female  29.0      0      4  21.075   NaN        S         0
4       3    male  25.0      0      0   7.050   NaN        S         0
   Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0       2    male   8.0      1      1  36.7500   NaN        S
1       1  female  49.0      0      0  25.9292   D17        S
2       3    male   NaN      0      0   7.7375   NaN        Q
3       2  female  24.0      2      1  27.0000   NaN        S
4       1    male  36.0      0      0  26.2875   E25        S

In [3]:
x_train.Age.fillna(x_train.Age.median(),inplace=True)
x_train.Embarked.fillna(x_train.Embarked.mode()[0],inplace=True)
# x_train.Cabin.fillna('U',inplace=True)


x_test.Age.fillna(x_test.Age.median(),inplace=True)
x_test.Embarked.fillna(x_test.Embarked.mode()[0],inplace=True)
# x_test.Cabin.fillna('U',inplace=True)


print(x_train.head())
x_train.isnull().sum()

   Pclass     Sex   Age  SibSp  Parch    Fare Cabin Embarked  Survived
0       2  female  29.0      1      0  26.000   NaN        S         1
1       3    male  29.0      0      0   8.050   NaN        S         0
2       2    male  39.0      0      0  26.000   NaN        S         0
3       3  female  29.0      0      4  21.075   NaN        S         0
4       3    male  25.0      0      0   7.050   NaN        S         0

Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Cabin       514
Embarked      0
Survived      0
dtype: int64

In [4]:
def sex_(x):
    if x=='male':
        return 1
    return 0

def embarked_(x):
    if x=='S':
        return 0
    elif x=='C':
        return 1
    else:
        return 2

def cabin_(x):
    return x!=x 


x_test['Cabin']=x_test.Cabin.apply(cabin_)
x_test['Sex']=x_test.Sex.apply(sex_)
x_test.Embarked=x_test.Embarked.apply(embarked_)


x_train['Cabin']=x_train.Cabin.apply(cabin_)
x_train['Sex']=x_train.Sex.apply(sex_)
x_train.Embarked=x_train.Embarked.apply(embarked_)


print(x_train.head(5))
print(x_test.head(5))
x_train.describe()

   Pclass  Sex   Age  SibSp  Parch    Fare  Cabin  Embarked  Survived
0       2    0  29.0      1      0  26.000   True         0         1
1       3    1  29.0      0      0   8.050   True         0         0
2       2    1  39.0      0      0  26.000   True         0         0
3       3    0  29.0      0      4  21.075   True         0         0
4       3    1  25.0      0      0   7.050   True         0         0
   Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0       2    1   8.0      1      1  36.7500   True         0
1       1    0  49.0      0      0  25.9292  False         0
2       3    1  27.0      0      0   7.7375   True         2
3       2    0  24.0      2      1  27.0000   True         0
4       1    1  36.0      0      0  26.2875  False         0

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Survived
count,668.000000,668.000000,668.000000,668.000000,668.000000,668.000000,668.000000,668.000000
mean,2.296407,0.639222,29.562126,0.528443,0.407186,32.064552,0.348802,0.402695
std,0.831638,0.480586,12.756626,1.080327,0.854695,45.320835,0.614333,0.490808
min,1.000000,0.000000,0.670000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,23.000000,0.000000,0.000000,7.925000,0.000000,0.000000
50%,3.000000,1.000000,29.000000,0.000000,0.000000,14.750000,0.000000,0.000000
75%,3.000000,1.000000,35.000000,1.000000,0.000000,31.275000,1.000000,1.000000
max,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200,2.000000,1.000000

In [5]:
from sklearn import linear_model
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import MaxAbsScaler
sc=StandardScaler()

y_train=x_train.iloc[:,-1]
x_train=x_train.iloc[:,:-1]


temp=np.zeros((x_train.shape[0],x_train.shape[1]*10))
temp[:,:x_train.shape[1]]=x_train
temp[:,x_train.shape[1]:x_train.shape[1]*2]=x_train**2
temp[:,x_train.shape[1]*2:x_train.shape[1]*3]=x_train**3
temp[:,x_train.shape[1]*3:x_train.shape[1]*4]=x_train**4
temp[:,x_train.shape[1]*4:x_train.shape[1]*5]=x_train**5
temp[:,x_train.shape[1]*5:x_train.shape[1]*6]=x_train**6
temp[:,x_train.shape[1]*6:x_train.shape[1]*7]=x_train**7
temp[:,x_train.shape[1]*7:x_train.shape[1]*8]=x_train**8
temp[:,x_train.shape[1]*8:x_train.shape[1]*9]=x_train**9
temp[:,x_train.shape[1]*9:x_train.shape[1]*10]=x_train**10
x_train=temp


temp=np.zeros((x_test.shape[0],x_test.shape[1]*10))
temp[:,:x_test.shape[1]]=x_test
temp[:,x_test.shape[1]:x_test.shape[1]*2]=x_test**2
temp[:,x_test.shape[1]*2:x_test.shape[1]*3]=x_test**3
temp[:,x_test.shape[1]*3:x_test.shape[1]*4]=x_test**4
temp[:,x_test.shape[1]*4:x_test.shape[1]*5]=x_test**5
temp[:,x_test.shape[1]*5:x_test.shape[1]*6]=x_test**6
temp[:,x_test.shape[1]*6:x_test.shape[1]*7]=x_test**7
temp[:,x_test.shape[1]*7:x_test.shape[1]*8]=x_test**8
temp[:,x_test.shape[1]*8:x_test.shape[1]*9]=x_test**9
temp[:,x_test.shape[1]*9:x_test.shape[1]*10]=x_test**10
x_test=temp

print(x_train.shape,x_test.shape)

x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

print(x_train.shape,x_test.shape)
clf=linear_model.LogisticRegression(C=10000,max_iter=10000,solver='liblinear')
clf.fit(x_train,y_train)

(668, 80) (223, 80)
(668, 80) (223, 80)

LogisticRegression(C=10000, max_iter=10000, solver='liblinear')

In [6]:
print(x_train.shape,x_test.shape)

(668, 80) (223, 80)

In [7]:
pred_test=clf.predict(x_test)
np.savetxt('output_file.csv',pred_test,fmt='%0.2f')
pred_train=clf.predict(x_train)

In [8]:
# Checking how well it works on training data
from sklearn.metrics import confusion_matrix, classification_report
print(confusion_matrix(data.iloc[:,-1],pred_train))
print(classification_report(data.iloc[:,-1],pred_train))
print(clf.score(x_train,data.iloc[:,-1]))

NameError: name 'data' is not defined